<div fxLayout="column" fxLayoutGap="15px" fxLayoutAlign="space-around stretch" *ngIf="showStartCircuitDialog"
     [@visibilityChanged]="visibility">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar>
        <i class="material-icons">
          track_changes
        </i>
      </div>

      <mat-card-title>Circuit setup</mat-card-title>
      <mat-card-subtitle>Get ready to move</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

      <div fxLayout="row wrap" fxLayout.xs="column wrap" fxLayoutGap="15px">
        <mat-card *ngFor="let suit of suits; let i = index" fxFlex="calc(50% - 15px)">
          <mat-card-header>
            <mat-card-title>
              <div class="{{suit.iconName}}">
                {{suit.name}}
                <div [innerHTML]="'&' + suit.iconName + ';'"></div>
              </div>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>

            <mat-form-field class="example-full-width">
              <input type="text" placeholder="Exercise" aria-label="Exercise" matInput
                     [matAutocomplete]="auto" [ngModel]="suit.selectedExercise"
                     [formControl]="suit.circuitSetupControl">
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let exercise of suit.filteredExercises | async" [value]="exercise">
                  {{ exercise.name }}
                </mat-option>
              </mat-autocomplete>

            </mat-form-field>

            <button mat-icon-button color="primary" (click)="randomExercise(suit)">
              <mat-icon aria-label="Random exercise">shuffle</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="clearExercise(suit)">
              <mat-icon aria-label="Clear">delete_sweep</mat-icon>
            </button>

          </mat-card-content>
        </mat-card>
      </div>

      <mat-card fxLayoutAlign="space-around stretch">
        <mat-card-header>
          <mat-card-title></mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-divider [vertical]="true"></mat-divider>
          <mat-divider [inset]="true"></mat-divider>
          <!-- <mat-form-field class="example-full-width">
             <input type="text" placeholder="Exercise" aria-label="Exercise" matInput
                    [matAutocomplete]="auto" fxShow="false">
             <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" fxShow="false">
               <mat-option *ngFor="let option of filteredExercises | async" [value]="option" fxShow="false">
                 {{ option.name }}
               </mat-option>
             </mat-autocomplete>

           </mat-form-field>-->

          <button mat-button (click)="randomExercises()" color="accent">
            <mat-icon class="icon">shuffle</mat-icon>
            Random all
          </button>
          <button mat-button (click)="clearExercises()" color="warn">
            <mat-icon class="icon">delete_sweep</mat-icon>
            Reset all
          </button>
          <div class="button-row" fxLayout="row wrap" fxLayoutAlign="start stretch">

            <span fxLayout="row">
          <span fxFlex="10%">Rep range:</span>
            <mat-slider
              [max]="maxReps"
              [min]="2"
              [thumbLabel]=true
              [(ngModel)]="minReps">
            </mat-slider>
            <mat-form-field class="number-input" fxFlex="20%">
              <input matInput type="number" placeholder="Min" [(ngModel)]="minReps">
            </mat-form-field>
              </span>

            <span fxLayout="row">
              <span fxFlex="10%">to</span>
              <mat-slider
                [max]="20"
                [min]="minReps"
                [thumbLabel]=true
                [(ngModel)]="maxReps">
            </mat-slider>
            <mat-form-field class="number-input" fxFlex="20%">
              <input matInput type="number" placeholder="Max" [(ngModel)]="maxReps">
            </mat-form-field>
        </span>

            <mat-checkbox [(ngModel)]="allowWildcards" class="wildcard">Add &#x02736;wildcard&#x02736; reps
            </mat-checkbox>

          </div>
        </mat-card-content>
      </mat-card>
    </mat-card-content>
    <mat-card-actions>
      <div class="button-row" fxLayout="row wrap" fxLayoutAlign="start center">

        <button mat-raised-button (click)="startCircuit()" color="primary">
          <mat-icon class="icon">play_arrow</mat-icon>
          Start
        </button>

        <!--<button mat-button color="warn"><mat-icon class="icon">play_arrow</mat-icon>Cancel</button>-->
      </div>
    </mat-card-actions>
  </mat-card>

  <div>

  </div>
</div>


<div fxLayout="column" fxLayoutGap="15px" fxLayoutAlign="space-around stretch" [@visibilityChanged]="visibility"
     *ngIf="showDoingCircuitDialog">
  <div></div>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar>
        <i class="material-icons">
          fitness_center
        </i>
      </div>

      <mat-card-title>Doing this circuit</mat-card-title>
      <mat-card-subtitle>Move it now!</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

      <div *ngIf="!circuitComplete; else circuit_complete"
           fxLayout="row" fxLayout.sm="column">
        <div fxFlex>
          <div *ngIf="!currentRep?.isWildcard;else wildcard_content">
            <!--<h4>{{currentRep?.exercise.description}}</h4>-->
            <h2 class="{{currentRep.suit.iconName}}">
              <span><div [innerHTML]="'&' + currentRep.suit.iconName + ';'"></div>
              {{currentRep.suit.name}}</span>
            </h2>
          </div>
          <ng-template #wildcard_content>
            <h2 class="wildcard">&#x02736; Wildcard! &#x02736;</h2>
          </ng-template>
        </div>

        <div fxFlex="80%" fxHide.lt-md>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{currentRep?.reps}} {{currentRep?.exercise.name}}
              </mat-panel-title>
              <mat-panel-description>
                {{currentRep?.exercise.description.substr(0, 100)}}...
              </mat-panel-description>
            </mat-expansion-panel-header>

            <p>{{currentRep?.exercise.description}}</p>

          </mat-expansion-panel>
        </div>
        <div fxFlex="80%" fxShow.lt-md>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{currentRep?.reps}} {{currentRep?.exercise.name}}
              </mat-panel-title>
            </mat-expansion-panel-header>

            <p>{{currentRep?.exercise.description}}</p>

          </mat-expansion-panel>
        </div>

      </div>

      <div fxLayout="row wrap" fxLayout.sm="column">
        <div fxFlex fxLayout.sm="column">
          <h3>
            Rep time:
            <!--<app-timer #repTimer [totalSeconds]="repSecs"></app-timer>-->
            {{ repSecs | secsAsTime: 'seconds' : 'h [h] m [m] s [s]' }}
          </h3>
          <h3>Total time:
            <!--<app-timer [totalSeconds]="totalSecs"></app-timer>-->
            {{ totalSecs | secsAsTime: 'seconds' : 'h [h] m [m] s [s]' }}
          </h3>
        </div>
        <div fxFlex="80%">
          <div>Reps meter: {{repsCompleted}} / {{ totalReps}} ({{((repsCompleted / totalReps)*100).toFixed(0)}}%)</div>
          <mat-progress-bar mode="buffer"
                            [value]="((repsCompleted / totalReps)*100).toFixed(0)"
                            [bufferValue]="currentRep.reps"></mat-progress-bar>
        </div>

      </div>

      <ng-template #circuit_complete>
        <h2>
          You're done, great work!
        </h2>
        <h3>
          Total Reps: {{totalReps}}
        </h3>
        <h3>Total time:
          {{thisCircuitTotalSecs | secsAsTime: 'seconds' : 'h [h] m [m] s [s]' }}
        </h3>
      </ng-template>

    </mat-card-content>

    <mat-card-actions>
      <div *ngIf="!circuitComplete; else circuit_complete_buttons">
        <button mat-button (click)="doNextRep()" [disabled]="circuitComplete">Next</button>
        <button mat-button (click)="quitCircuit()">Quit</button>
      </div>
      <ng-template #circuit_complete_buttons>
        <a mat-button routerLink="/view-history">Check your History</a>
        <a mat-button routerLink="/start-circuit">Start another circuit</a>
      </ng-template>
    </mat-card-actions>
  </mat-card>

  <div>

  </div>
</div>

