<div fxLayout="column" fxLayoutGap="15px" fxLayoutAlign="space-around stretch" *ngIf="showStartCircuitDialog"
     [@visibilityChanged]="visibility">
  <div></div>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar>
        <i class="material-icons">
          track_changes
        </i>
      </div>

      <mat-card-title>Circuit setup</mat-card-title>
      <mat-card-subtitle>Get ready to move</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

      <div fxLayout="row wrap" fxLayout.xs="column wrap" fxLayoutGap="15px">
        <mat-card *ngFor="let suit of suits; let i = index" fxFlex="calc(50% - 15px)">
          <mat-card-header>
            <mat-card-title>
              <div class="{{suit.iconName}}">
                {{suit.name}}
                <div [innerHTML]="'&' + suit.iconName + ';'"></div>
              </div>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>

            <mat-form-field class="example-full-width">
              <input type="text" placeholder="Exercise" aria-label="Exercise" matInput
                     [matAutocomplete]="auto" [ngModel]="suit.selectedExercise"
                     [formControl]="suit.circuitSetupControl">
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let exercise of suit.filteredExercises | async" [value]="exercise">
                  {{ exercise.name }}
                </mat-option>
              </mat-autocomplete>

            </mat-form-field>

            <button mat-icon-button color="primary" (click)="randomExercise(suit)">
              <mat-icon aria-label="Random exercise">shuffle</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="clearExercise(suit)">
              <mat-icon aria-label="Clear">delete_sweep</mat-icon>
            </button>

          </mat-card-content>
        </mat-card>
      </div>

      <mat-card fxLayoutAlign="space-around stretch">
        <mat-card-header>
          <mat-card-title></mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-divider [vertical]="true"></mat-divider>
          <mat-divider [inset]="true"></mat-divider>
          <!-- <mat-form-field class="example-full-width">
             <input type="text" placeholder="Exercise" aria-label="Exercise" matInput
                    [matAutocomplete]="auto" fxShow="false">
             <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" fxShow="false">
               <mat-option *ngFor="let option of filteredExercises | async" [value]="option" fxShow="false">
                 {{ option.name }}
               </mat-option>
             </mat-autocomplete>

           </mat-form-field>-->

          <button mat-button (click)="randomExercises()" color="accent">
            <mat-icon class="icon">shuffle</mat-icon>
            Random all
          </button>
          <button mat-button (click)="clearExercises()" color="warn">
            <mat-icon class="icon">delete_sweep</mat-icon>
            Reset all
          </button>

        </mat-card-content>
      </mat-card>
    </mat-card-content>
    <mat-card-actions>

      <div class="button-row" fxLayout="row wrap" fxLayoutAlign="start stretch">
        Rep range:
        <mat-slider
          [max]="maxReps"
          [min]="2"
          [thumbLabel]=true
          [(ngModel)]="minReps">
        </mat-slider>
        <mat-form-field class="number-input">
          <input matInput type="number" placeholder="Min" [(ngModel)]="minReps">
        </mat-form-field>
        to
        <mat-slider
          [max]="20"
          [min]="minReps"
          [thumbLabel]=true
          [(ngModel)]="maxReps">
        </mat-slider>
        <mat-form-field class="number-input">
          <input matInput type="number" placeholder="Max" [(ngModel)]="maxReps">
        </mat-form-field>

        <mat-checkbox [(ngModel)]="allowWildcards">Add wildcard reps</mat-checkbox>

      </div>

      <div class="button-row" fxLayout="row wrap" fxLayoutAlign="start center">

        <button mat-raised-button (click)="startCircuit()" color="primary">
          <mat-icon class="icon">play_arrow</mat-icon>
          Start
        </button>

        <!--<button mat-button color="warn"><mat-icon class="icon">play_arrow</mat-icon>Cancel</button>-->
      </div>
    </mat-card-actions>
  </mat-card>

  <div>

  </div>
</div>


<div fxLayout="column" fxLayoutGap="15px" fxLayoutAlign="space-around stretch" [@visibilityChanged]="visibility"
     *ngIf="showDoingCircuitDialog">
  <div></div>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar>
        <i class="material-icons">
          fitness_center
        </i>
      </div>

      <mat-card-title>Doing this circuit</mat-card-title>
      <mat-card-subtitle>Move it now!</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <!--TODO: Prob best to turn this into a sub-card-->
      <div class="ui-g" *ngIf="!circuitComplete">
        <div class="ui-g-12">
          <div class="ui-g-12" *ngIf="!currentRep?.isWildcard;else wildcard_content">
            <!--<h4>{{currentRep?.exercise.description}}</h4>-->
            <h3 class="{{currentRep.suit.iconName}}">
              {{currentRep.suit.name}}
              <div [innerHTML]="'&' + currentRep.suit.iconName + ';'"></div>
            </h3>
          </div>
          <ng-template #wildcard_content>
            <div>Wildcard!</div>
          </ng-template>
        </div>
        <div class="ui-g-12">
          <h2 class="middle">
            {{currentRep?.reps}} {{currentRep?.exercise.name}}</h2>
        </div>
        <div class="ui-g-12">
          <h3>{{currentRep?.exercise.description}}</h3>
        </div>

        <div fxLayout="row" fxLayoutAlign="start start">
          <div>
            <h3>
              Rep time:
              <!--<app-timer #repTimer [totalSeconds]="repSecs"></app-timer>-->
              {{ repSecs | secsAsTime: 'seconds' : 'h [h] m [m] s [s]' }}
            </h3>
          </div>

          <div>
            <h3>Total time:
              <!--<app-timer [totalSeconds]="totalSecs"></app-timer>-->
              {{ totalSecs | secsAsTime: 'seconds' : 'h [h] m [m] s [s]' }}
            </h3>
          </div>

        </div>
        <div>Reps meter: {{repsCompleted}} / {{ totalReps}} ({{((repsCompleted / totalReps)*100).toFixed(0)}}%)</div>
        <mat-progress-bar mode="buffer"
                          [value]="((repsCompleted / totalReps)*100).toFixed(0)"
                          [bufferValue]="currentRep.reps"></mat-progress-bar>
      </div>

    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="doNextRep()"
              [disabled]="circuitComplete">Next
      </button>
      <button mat-button (click)="quitCircuit()">Quit</button>
    </mat-card-actions>
  </mat-card>

  <div>

  </div>
</div>

