.number-input {
  width: 5%;
  min-width: 20px;
}

.button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.clubs {
  color: black;
}
.spades {
  color: darkblue;
}
.diams {
  color: deeppink;
}
.hearts {
  color: red;
}
