

  <mat-card>
    <mat-card-title>What is CircuitShuffle?</mat-card-title>
    <mat-card-content>
      <p>CircuitShuffle is a essentially a simple personal trainer.</p>

      <p> It focuses on assigning (mostly) bodyweight exercises to you. You control how many and what you want to
        do.</p>

      <p> It keeps track of what you've acheived.</p>

      <p> Reasons for being active:</p>

      <ul>
        <li>Doing any physical activity is better than doing none. If you currently do no physical
          activity, start by doing some, and gradually build up to the recommended amount.
        </li>

        <li>Be active on most, preferably all, days every week.</li>

        <li>Accumulate 150 to 300 minutes (2 ½ to 5 hours) of moderate intensity physical activity or
          75 to 150 minutes (1 ¼ to 2 ½ hours) of vigorous intensity physical activity, or an
          equivalent combination of both moderate and vigorous activities, each week.
        </li>

        <li>Do muscle strengthening activities on at least 2 days each week.
          SEDENTARY BEHAVIOUR
        </li>

        <li>Minimise the amount of time spent in prolonged sitting.</li>

        <li>Break up long periods of sitting as often as possible.</li>
      </ul>
    </mat-card-content>
    <mat-card-actions>
      Want to join, simple no frills:
      <button mat-raised-button color="accent" [routerLink]="['/signup']">Sign up!</button>
    </mat-card-actions>
  </mat-card>
